In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

C:\Users\Robert Malka\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv(r"C:\Users\Robert Malka\aita_clean.csv")

# Three objectives:

- convert epoch time to datetime 
- convert epoch time to "TRUE" in the Edited column
- replace â€™, â€œ, and â€ with "'"

In [3]:
df.head()

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole
0,1ytxov,1.393279e+09,[AITA] I wrote an explanation in TIL and came ...,[Here is the post in question](http://www.redd...,False,asshole,52,13.0,1
1,1yu29c,1.393281e+09,[AITA] Threw my parent's donuts away,"My parents are diabetic, morbidly obese, and a...",1393290576.0,asshole,140,27.0,1
2,1yu8hi,1.393285e+09,I told a goth girl she looked like a clown.,I was four.,False,not the asshole,74,15.0,0
3,1yuc78,1.393287e+09,[AItA]: Argument I had with another redditor i...,http://www.reddit.com/r/HIMYM/comments/1vvfkq/...,1393286962.0,everyone sucks,22,3.0,1
4,1yueqb,1.393288e+09,[AITA] I let my story get a little long and bo...,NaN,False,not the asshole,6,4.0,0

In [4]:
# - convert epoch time to datetime 

df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

In [5]:
df['edited'].value_counts()

False           71879
1554930020.0        2
1562083930.0        2
1555232096.0        2
1579726818.0        2
                ...
1556841243.0        1
1550201393.0        1
1554254430.0        1
1552009911.0        1
1553170494.0        1
Name: edited, Length: 25742, dtype: int64

In [6]:
#Boolean

df[df['edited'].apply(lambda x: 'F' in x)]['edited'].values

array(['False', 'False', 'False', ..., 'False', 'False', 'False'],
      dtype=object)

In [7]:
#changing epochtime to "True"

df['edited'] = df['edited'].apply(lambda x: len(x) > 7) #setting equal to series

In [8]:
df['edited'].value_counts()

False    71879
True     25749
Name: edited, dtype: int64

In [9]:
df.head()

,id,timestamp,title,body,edited,verdict,score,num_comments,is_asshole
0,1ytxov,2014-02-24 21:50:51,[AITA] I wrote an explanation in TIL and came ...,[Here is the post in question](http://www.redd...,False,asshole,52,13.0,1
1,1yu29c,2014-02-24 22:33:04,[AITA] Threw my parent's donuts away,"My parents are diabetic, morbidly obese, and a...",True,asshole,140,27.0,1
2,1yu8hi,2014-02-24 23:31:17,I told a goth girl she looked like a clown.,I was four.,False,not the asshole,74,15.0,0
3,1yuc78,2014-02-25 00:05:28,[AItA]: Argument I had with another redditor i...,http://www.reddit.com/r/HIMYM/comments/1vvfkq/...,True,everyone sucks,22,3.0,1
4,1yueqb,2014-02-25 00:29:24,[AITA] I let my story get a little long and bo...,NaN,False,not the asshole,6,4.0,0

In [10]:
df['body'] = df['body'].replace(r"[\â€™\â€œ\â€]", '\'')

In [11]:
#converting something to a list prints everything out, so that's a nice way to cheat.
#Sample of a cell of body text

df.loc[df.id=='2ft7yg','body'].to_list()


#When you think about specifying a string, you need .loc or .iloc.

['Last night, my girlfriend  and I got back from an evening at the beach. We went to my house for a little bit just to spend some time together (she texted her mom to let her know that she was safe). We watched a TV show here and there and then spent the next few hours just talking to each other, kissing and cuddling. Without us realizing, it got a little late and we grew tired. She asked if she could take a quick nap which I said was no problem. However, I ended up falling asleep as well and when I came to, it was 2:00 in the morning. I realized that I was way too tired to safely drive her home and we ended up spending the night together and didn’t wake up until 7:00 this morning. My parents were already asleep by this time and I didn’t want to wake them and I hoped that they’d be understanding. \n\nA few minutes after we were both awake, I made her breakfast and then drove her home. My mom was more understanding than her partner who said what I did was horrible and an asshole thing to do. My mom of course still wasn’t exactly pleased but she was happy to know that we didn’t have sex or anything (which I wouldn’t have done anyways because we’re not at that point yet.) Did I do the right thing last night or am I, like my mom’s partner says, an asshole?\n\nAdditional Information: \n\nMy girlfriend and I are both close to 19 (she turns 19 next week and I turn 19 in three months)\n\nWe have been together for a little over a month\n\nMy mom’s partner and I have been at each other’s throats for 8 of the 13 years that she and my mom have been together. Which is why I’m asking this on here because I know I might be a little biased when it comes to what she says. \n\n\nEdit: Feel free to ask any further questions about the situation and I Will answer 100% honestly.\n']

In [12]:
#df to csv

#Can pickle this, if preferred.

df.to_csv("aita_clean_3.2.csv", index=False)